* {
  border: none;
  border-radius: 0;
  font-family: "Hack Nerd Font", monospace;
  font-size: 16px;
}

/* =======================
   BASE DA BAR
======================= */

window#waybar {
  background: rgba(25, 22, 34, 0.6);
  color: #e1e1e6;

  padding-left: 20px;
  padding-right: 20px;
}

/* Quando escondida */
window#waybar.hidden {
  opacity: 0;
}

/* =======================
   LAYOUT
======================= */

.modules-left {
}

.modules-center {
}

.modules-right {
}

/* =======================
   WORKSPACES
======================= */

#workspaces button {
  padding: 6px 10px;
  margin: 4px 3px;

  color: #44475a;
  font-weight: bold;

  border-bottom: 2px solid transparent;

  min-height: 32px;
}

#workspaces button:hover {
  color: #988bc7;
  background: transparent;
  box-shadow: none;
}

#workspaces button.focused {
  color: #988bc7;
  border-bottom: 2px solid #988bc7;
}

#workspaces button.urgent {
  background-color: #e96379;
}

/* =======================
   MÓDULOS DIREITA
======================= */

#battery,
#network,
#pulseaudio,
#bluetooth,
#custom-notification,
#custom-menu,
#custom-bar {
  font-family: "Material Symbols Rounded";
  padding: 6px 12px;
  margin: 4px 4px;
  min-height: 32px;
}

/* =======================
   STATES
======================= */

#battery.charging {
  color: #67e480;
}

#battery.critical:not(.charging) {
  background: #e96379;
  color: #e1e1e6;
  animation: blink 0.5s linear infinite alternate;
}

@keyframes blink {
  to {
    background-color: #e1e1e6;
    color: #191622;
  }
}

#network.disconnected,
#pulseaudio.muted {
  color: #e96379;
}

/* =======================
   TRAY
======================= */

#tray {
  margin-right: 8px;
}

/* =======================
   TOOLTIP
======================= */

tooltip {
  background: #191622;
  border: 2px solid #988bc7;
  border-radius: 8px;
}

tooltip label {
  padding: 8px;
  color: #e1e1e6;
}

/* =======================
   NOTIFICAÇÃO
======================= */

#custom-notification {
  margin-right: 10px;
}
